<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
<extension point="org.eclipse.emf.refactor.metrics">
<metric id="de.pum.fopra.nfs1" metric_calculate_class="org.eclipse.emf.refactor.metrics.NFS1" metric_context="StateMachine" metric_description="Number of final states of a state machine" metric_metamodel="http://www.eclipse.org/uml2/5.0.0/UML" metric_name="NFS1"/>
<metric id="de.pum.fopra.nfs2" metric_calculate_class="org.eclipse.emf.refactor.metrics.NFS2" metric_context="StateMachine" metric_description="Number of final states of a state machine" metric_metamodel="http://www.eclipse.org/uml2/5.0.0/UML" metric_name="NFS2"/>
<metric id="de.pum.fopra.dummy" metric_calculate_class="org.eclipse.emf.refactor.metrics.Dummy" metric_context="StateMachine" metric_description="Dummy metric" metric_metamodel="http://www.eclipse.org/uml2/5.0.0/UML" metric_name="Dummy"/>
<metric id="NSS" metric_calculate_class="org.eclipse.emf.refactor.metrics.NumberofsimpleStates" metric_context="StateMachine" metric_description=" " metric_metamodel="http://www.eclipse.org/uml2/5.0.0/UML" metric_name="Number of simple States"/>
<metric id="NSS" metric_calculate_class="org.eclipse.emf.refactor.metrics.NSS" metric_context="StateMachine" metric_description="Number of simple states" metric_metamodel="http://www.eclipse.org/uml2/5.0.0/UML" metric_name="NSS"/>
<metric id="NCS" metric_calculate_class="org.eclipse.emf.refactor.metrics.NCS" metric_context="StateMachine" metric_description="Number of composite states" metric_metamodel="http://www.eclipse.org/uml2/5.0.0/UML" metric_name="NCS"/>
<metric id="NT" metric_calculate_class="org.eclipse.emf.refactor.metrics.NT" metric_context="StateMachine" metric_description="Number of Transitions" metric_metamodel="http://www.eclipse.org/uml2/5.0.0/UML" metric_name="NT"/>
<metric id="NEE" metric_calculate_class="org.eclipse.emf.refactor.metrics.NEE" metric_context="StateMachine" metric_description="Number of entry Effects" metric_metamodel="http://www.eclipse.org/uml2/5.0.0/UML" metric_name="NEE"/>
<metric id="NEntryA" metric_calculate_class="org.eclipse.emf.refactor.metrics.NEntryA" metric_context="StateMachine" metric_description="Number of entry Actions" metric_metamodel="http://www.eclipse.org/uml2/5.0.0/UML" metric_name="NEntryA"/>
<metric id="NExitA" metric_calculate_class="org.eclipse.emf.refactor.metrics.NExitA" metric_context="StateMachine" metric_description="Number of exit Activities" metric_metamodel="http://www.eclipse.org/uml2/5.0.0/UML" metric_name="NExitA"/>
<metric id="NDoA" metric_calculate_class="org.eclipse.emf.refactor.metrics.NDoA" metric_context="StateMachine" metric_description="Number of do Activities" metric_metamodel="http://www.eclipse.org/uml2/5.0.0/UML" metric_name="NDoA"/>
<metric id="NE" metric_calculate_class="org.eclipse.emf.refactor.metrics.NE" metric_context="StateMachine" metric_description="Number of Events" metric_metamodel="http://www.eclipse.org/uml2/5.0.0/UML" metric_name="NE"/>
<metric id="McCabe" metric_calculate_class="org.eclipse.emf.refactor.metrics.McCabe" metric_context="StateMachine" metric_description="Cyclomatic number of McCabe" metric_metamodel="http://www.eclipse.org/uml2/5.0.0/UML" metric_name="McCabe"/>
</extension>
<extension point="org.eclipse.emf.refactor.metrics">
   <metric id="de.unimarburg.swt.fopra.state.metrics.metric1" metric_calculate_class="de.unimarburg.swt.fopra.state.metrics.MetricCalculator1" metric_context="de.unimarburg.swt.fopra.state.metrics.metric1" metric_metamodel="de.unimarburg.swt.fopra.state.metrics.metric1" metric_name="de.unimarburg.swt.fopra.state.metrics.metric1">
   </metric>
</extension>
</plugin>
